# Once you filled this in rename the file to .env

#Needed
Token= <>    #The Bots Token --- Developer Portal -> Bot Tab -> Reset Token -> Copy
ClientId= <> #The Bots Application ID --- Developer Portal -> General Info -> Application ID -> Copy
#Optional
LogHook=     #A Webhook info should be send to like when the bot is Ready and more
# Once you filled this in rename the file to .env